# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
*.bundle
.*.swp
*.out
*.err
*/.ipynb_checkpoints/*
.pytest_cache

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml

*/cache/*
*.pkl
*.json
*.db

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_build/*
cover/*
MANIFEST
.hypothesis
.~lock.csm_2019.rtf#
csm_2019.docx
csm_2019.markdown
csm_2019.odt
csm_2019.plain
csm_2019.rst
csm_2019.rtf
